html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: $color__background-body;
    /* Fallback for when there is no custom background color defined. */
}

blockquote,
q {
    quotes: "" "";
    &:before,
    &:after {
        content: "";
    }
}

hr {
    background-color: $color__background-hr;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

@import "lists";
img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

@import "tables";

/* Custom Elements */

%trigger {
    cursor: pointer;
}

.section-header {
    color: $color_secondary;
    @extend .clearfix;
    background-color: $color_primary;
    padding: 0.5em 1em;
    > div.section-title {
        width: calc(100% - 10%);
        float: left;
    }
    > div.section-trigger {
        @extend %trigger;
        width: calc(100% - 90%);
        text-align: right;
        float: right;
    }
}

//by default the bar is horizontal
%bar {
    height: 4px;
    width: 25px;
    background-color: #000;
    position: relative;
    @include spacemar(4px);
    @include transition(.2s);
}

.bar-hamburger {
    @extend %bar;
    body.menu-active & {
        &-one {
            transform: rotate(-50deg);
            transform-origin: left left;
            top: 8px;
        }
        &-two {
            display: none;
        }
        &-three {
            transform: rotate(50deg);
            transform-origin: right right;
        }
    }
}
