[submodule "backend/wp-content/themes/brcd-film/lib/sass"]
	path = backend/wp-content/themes/brcd-film/lib/sass
	url = https://github.com/enoa7/sass.git
[submodule "backend/wp-content/themes/brcd-film/lib/kodein-sass"]
	path = backend/wp-content/themes/brcd-film/lib/kodein-sass
	url = git@github.com:enoa7/sass.git
