footer.site-footer {
    background: $color_secondary;
    color: #fff;
    font-size: 80%;
    @include spacepad(15px);
    .widget-title,
    .title {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.1em;
    }
    a,
    a:visited {
        color: #fff;
        &:hover,
        &:focus {
            text-decoration: none !important;
            color: $color_primary;
        }
    }
    ul {
        @extend .nodots;
        @extend .no-padding;
    }

}


/* footer - sitemap style -- */

#sitemap .widget {
    /* reset ul default style */
    > ul {
        margin-left: 0;
        @extend .row;
        li {
            line-height: 2;
            @extend .col-xs-6;
        }
    }
}


/* footer - social media style -- */

#social-media.widget-area .widget-wrapper {
    margin-left: -10px;
}

#social-media .widget {
    // @extend .col-xs-2;
    float: left;
    padding: 0 10px;
    .widget-title {
        display: none !important;
    }
    .widget_sp_image {
        img {
            @extend .img-responsive;
            // max-width: 60%;
        }
    }
}
