// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// margin-side
@mixin margin-horizontal($side) {
	margin-left: $side;
	margin-right: $side;
}

// margin-vertical
@mixin margin-vertical($side) {
	margin-top: $side;
	margin-bottom: $side;
}

// padding-side
@mixin padding-horizontal($side) {
	padding-left: $side;
	padding-right: $side;
}

// padding-vertical
@mixin padding-vertical($side) {
	padding-top: $side;
	padding-bottom: $side;
}
/* --------------------------------
 * List of Useful Mixins
 * -------------------------------- */

@import 'animation';
@import 'prefix';
@import 'transition';
@import 'opacity';

