/* style for what hero content section */

.hero-content {
    overflow: hidden;
    // max-height: 1000px;
    height: 100%;
    cursor: pointer;
}

// set the video width and height to 100%;
video {
    width: 100%;
    height: 100%;
}


/* style for what we do section */

#whatwedo {
    .item {
        @media screen and (min-width: 768px) {
            @include spacepad(2em);
        }
    }
    .item-desc,
    .item-title {
        text-align: center;
    }
    .item-title {
        @extend .lead;
        font-weight: 700;
        @include spacepad(1em);
    }
    .item-desc {
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
        }
    }
}


/* style for product/news/highlight section */

#highlight {
    background-color: $color_primary;
    position: relative;
    .item {
        &-img {
            img {
                width: 100%;
            }
        }
        &-desc {
            @media screen and (min-width: 992px) {
                position: absolute;
                z-index: 2;
                top: 15%;
                left: 15%;
                background-color: $color_primary;
                width: 300px;


                > .container {
                    width: auto;
                }
            }

            &-btn {
                text-align: right;
            }
        }
    }
}
