/** section styling **/

.section-item {
    position: relative;
    .section-content {
        @include transition(max-height 0.3s);
        @include opacity(0);
        position: relative;
        width: 100%;
        max-height: 0;
        background-color: #eee;
        margin-bottom: 1em;
        @include spacepad(1em);
    }
}

.section-item.active {
    .section-content {
        @include opacity(1);
        max-height: 300px;
    }
}

.section-header {
    color: $color_secondary;
    @extend .clearfix;
    background-color: $color_primary;
    > div.section-title {
    	float: left;
    	@include font-size(1.5);
    	font-weight: 700;
    	padding: 0.5em;
    }
    > div.section-trigger {
        @extend %trigger;
        float: right;
        padding: 1em;
    }
}
